.slick-next:before, .slick-prev:before {
  color: #ADADAD;
}

.slick-next {
	right: -15px;
}

.slick-prev {
	left: -15px;
}

#calendar .slick-slide {
	height: 300px;
}

#films .slick-slide, #news-carousel .slick-slide {
	height: auto;
}

