.slick-next:before, .slick-prev:before {
  color: #ADADAD;
}

/*.slick-prev {
	left: -7px;
}

.slick-next {
	right: -7px;
}
*/
#calendar .slick-slide {
	height: 300px;
}

#films .slick-slide {
	margin-top: 0px;
	height: auto;
}